/* div.block-container.css-18e3th9.egzxvld2{

    background-color: #1D3557;
}

div.st-dd st-bv st-dm st-dn st-do st-b4 st-db st-dp st-de st-cq st-cs st-dq st-cr st-dr{
     background-color: #777D7D;
}



th.css-a51556.edw49t11{

    color:  aliceblue; 
}

td.css-gdzsw5.edw49t12{

    color:  aliceblue; 
}

span.css-10trblm.e16nr0p30{

    color:aquamarine;
}

div.css-1ec096l.edw49t14{

    background-color:#82c0cc;
}

span.st-be st-cq st-cr st-cs st-af{

    background-color: #fae1dd;
}

span.st-ae.st-c6.st-ag.st-ah.st-ai.st-aj.st-bz.st-c7.st-c8.st-bk.st-bl.st-bm.st-bn.st-c9.st-ca.st-cb.st-cc.st-av.st-aw.st-ax.st-ay.st-bc.st-cd.st-ce.st-cf.st-b5.st-cg.st-ch.st-ci.st-cj.st-ck.st-cl.st-cm.st-cn.st-co.st-cp{
    background-color: #7dcfb6;
} */

div.css-1ec096l.edw49t14{

    background-color:#03045e;
}

label.css-1bg4b2b.effi0qh3{

    font-size: 25px;
    color:whitesmoke;
}



div.user-select-none.svg-container{

    color:white;
}